<div class="container-fluid my-footer default-bg">
    <div class = 'row'>
        <div class = 'col-lg-4 d-flex flex-row justify-content-bottom col-12 '>
          <div><img src = '/static/images/ssitslogopng.png' class="small-logo" /><br clear="left" style= "clear:left"></div>
           <div class="pl-3"> I am a passionate at coding and learning new technologies</div>
        </div>
        <div class = 'col-lg-2 text-center '>
            <button type="button" class="btn btn-light">
                <a href="/">Home</a></button>
        </div>
        <div class = 'col-lg-2 text-center'>
            <button type="button" class="btn btn-light">
                <a href="/about">About</a></button>
        </div>
        <div class = 'col-lg-2 text-center'>
            <button type="button" class="btn btn-light">
                <a href="/project">Project</a></button>
        </div>
        <div class = 'col-lg-2 text-center'>
            <button type="button" class="btn btn-light">
                <a href="/contact">Contact</a></button>
        </div>
    </div>
    <hr class = 'hr'/>
    <div class="text-center">@copy 2022 </div>
</div>